<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>Ingredients par catégories</h1>
    <button><a href="{{path_for('addIngredient')}}">Ajouter</a></button>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Fournisseur</th>
            <th>Image</th>
            <th>Categorie</th>        
        </tr>
    {% for ing in ingredients %}  
        <tr>
            <td>{{ing.nom}}</td>
            <td>{{ing.description}}</td>
            <td>{{ing.fournisseur}}</td>
            <td>{{ing.img}}</td>
            <td>{{ing.getCategory.nom}}</td>
            <td><button><a href="{{base_url}}/ingredients/delete/{{ing.id}}">Supprimer</a></button></td>
        </tr>
    {% endfor %}
    </table>


</body>
</html>