<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>Ingredients par catégories</h1>
    <button><a href="{{path_for('addIngredient')}}">Ajouter</a></button>
    <ul>
    {% for cat in categories %}
        <li> <b>{{ cat.nom }} :</b> <i> {{cat.description}}</i></li>
        <ul>
        {%for ingre in cat.getIngredients %}
            <li> 
                <b>{{ ingre.nom }} :</b> <i> {{ingre.description}}</i>
                <button><a href="{{base_url}}/ingredients/delete/{{ingre.id}}">Supprimer</a></button>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
</body>
</html>